:root {
  --primary-color: #f2a2bc;
  --secondary-color: #333;
  --third-color: #0077ff;
  --fourth-color: #f4c28b;
  --accent-color: #1da1ff;
  --background-color: #f4f4f4;
  --background-color-dark: #2f2f2f;
}

body {
  margin: 0;
  height: 200vh;
  /* pour pouvoir scroller */
}

@font-face {
  font-family: 'Rocgrotesk';
  src: url('./media/font/Demo_Fonts/titre.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rocgrotesk';
  src: url('./media/font/Demo_Fonts/titre.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.antonio {
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#CTA-stage {
  position: relative;
  /* référence pour l'image */
  padding: 80px 40px;
  overflow: hidden;
}

#CTA-stage .bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

#CTA-stage h2,
#CTA-stage p,
#CTA-stage button,
#CTA-stage .yeux {
  position: relative;
  z-index: 2;
  /* au-dessus de l'image */
}

/* === POPUP GLOBAL === */
.popup {
  position: fixed;
  inset: 0;
  z-index: 1000;
}

/* état caché */
.popup-hide {
  display: none;
}

/* état visible */
.popup-show {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* fond sombre */
.popup-base {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

/* boîte popup */
.popup-content {
  position: relative;
  background: white;
  max-width: 900px;
  width: 90%;
  border-radius: 20px;
  z-index: 2;
  padding: 30px;
}

/* bouton fermer */
.popupquit {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

/* structure interne (optionnel mais propre) */
.contenu-popup {
  display: flex;
  gap: 30px;
}

.contenu-popup img {
  width: 40%;
  object-fit: cover;
  border-radius: 12px;
}

.partiedroite {
  width: 60%;
}

#CTA-stage h2 {
  color: #f2a2bc;
  font-size: 5rem;
  letter-spacing: 2px;
  font-weight: 900;
  margin-bottom: 0;
}

#CTA-stage p {
  color: #222222;
  font-size: 30px;
  font-weight: lighter;
  margin-top: 0;
}

.cta-button {
  margin-top: 25px;
  padding: 15px 30px;
  font-size: 22px;
  background-color: #169873;
  color: white;
  border: none;
  border-radius: 35px;
  cursor: pointer;
}